<h1>Task list!</h1>

#if ($tasks)
  <ul>
    #foreach ($task in $tasks)
    <li> $task.getDescription()</li>
  </ul>
    #end
#else
  <p>No tasks!</p>
#end

<p>Add a new Task:</p>

<form action="/tasks" method="post">
  <label for="description">Task Description</label>
  <input id="description" name="description" type="text">

  <button type="submit" class="btn btn-default">Add task</button>
</form>
